*{
  user-select: none;
}
.container
{
  /* background-color: rgb(176, 192, 192); */
  background-color: rgb(218, 247, 218);
  padding-bottom: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: 'Roboto', sans-serif
  
}

div[id="left-container"]
{
    /* border: 1px solid black; */
    width: 35%;
    margin-top: 100px;
    background-color: white;
    /* padding: 30px; */
}

div[id="right-container"]
{
  /* border: 1px solid black; */
  width: 35%;
  margin-top: 100px;
  
}

div[id="left-container"] h1
{
  color:rgb(56, 54, 54);
  padding-left: 40px;
  padding-top: 50px;
}

div[id="left-container"] p
{
    font-size: 20px;
    color: gray;
    padding-left: 40px;
}

div[id="left-container"] span
{
    font-size: 20px;
    color: rgb(23, 135, 184);
}

.text-1
{
  display: flex;
  flex-direction: row;
  
}

.div-user
{
  width:80% ;
}

.img-user
{
  height: 30px;
  width: 30px;
  margin-left: -50px;
  margin-top: 10px;
  opacity: 0.3;
}

.input_userId
{
    border: none;
    border-bottom: 2px solid grey;
    padding-top: 5px;
    width: 90%;
    height: 40px;
    font-size: 22px;
    margin-left: 40px;
}

.img-pw
{
  height: 50px;
  width: 50px;
  margin-left: -58px;
  margin-top: 30px;
  opacity: 0.3;
}

.input_pw
{
    border: none;
    border-bottom: 2px solid grey;
    padding-top: 40px;
    width: 90%;
    height: 40px;
    font-size: 22px;
    margin-left: 40px;
}

.sub-container
{
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  margin-left: 40px;
}

input.check_box
{
  height: 20px;
  width: 20px;
}

.remember_me
{
  font-size: 20px;
  color: rgb(88, 86, 86);
  padding-left: 5px;
  margin-top: 2px;
}

.forgot_pw
{
  font-size: 20px;
  color: rgb(88, 86, 86);
  padding-left: 185px;
  text-decoration: none;
}

.btn_login
{
  margin-top: 45px;
  border-radius: 50px;
  height: 55px;
  width: 150px;
  color: white;
  background-color:rgb(23, 135, 184);
  font-size: 18px;
  font-weight:bold;
  margin-left: 40px;
}

.bottom_container
{
  padding-left: 45px;
  margin: 40px 0px 100px 0px ;
  display: flex;
  flex-direction: row;
  
}

.login_with
{
  margin-top: 10px;
  font-size: 18px;
}

.img
{
  height: 50px;
  width: 50px;
  margin-left: 25px;
}

.logo-fb
{
  margin-left: 200px;
}

.wrapper
{
  position: relative;
}

.laptop-img
{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.overlay
{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(238, 111, 189, 0.5);
}

.header
{
  position: absolute;
  color: white;
  top: 20%;
  left: 33%;
  font-size: 50px;
  border-bottom: 2px solid white;
}

.content
{
  position: absolute;
  color: white;
  top: 40%;
  left: 20%;
  font-size: 30px;
  text-align: center;
}
